<%= render "public/homes/header" %>

<% if @customer.errors.any?%>
  <%= @customer.error.count %>error
    <ul>
      <% @customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
<% end %>
  <div class="container">
  <div class="row mt-5">
    <h4 style="background-color:#EEEEEE;color:dark;display:inline">会員情報編集</h4>
    <%= form_with model: @customer, url: customers_path, method: :patch, local: false do |f| %>
  </div>
  <table>
    <tr>
      <th class="form-group">
        <lavel for="customer_name">氏名</lavel>
        <div class><%= f.text_field :last_name, placeholder:"姓" %> <%= f.text_field :first_name, placeholder:"名" %></div>
      </th>
    </tr>
    <tr>
      <th class="form-group">
        <lavel for="customer_name_kana">フリガナ</lavel>
        <div class><%= f.text_field :last_name_kana, placeholder:"セイ" %> <%= f.text_field :first_name_kana, placeholder:"メイ" %></div>
      </th>
    </tr>
      <th class="form-group">
        <lavel for="postal_code">郵便番号</lavel>
        <div class><%= f.text_field :postal_code, placeholder:"00000000" %></div>
      </th>
    <tr>
    </tr>
      <th class="form-group">
        <lavel for="address">住所</lavel>
        <div class><%= f.text_field :address, placeholder:"東京都渋谷区神南1丁目19-11 パークウェースクエア24階" %></div>
      </th>
    <tr>
      <th class="form-group">
        <lavel for="phone_number">電話番号</lavel>
        <div class><%= f.text_field :phone_number, placeholder:"00000000000" %></div>
      </th>
    </tr>
    <tr>
      <th class="form-group">
        <lavel for="phone_number">メールアドレス</lavel>
        <div class><%= f.text_field :email, placeholder:"test@test.com" %></div>
      </th>
    </tr>
  </table>
    <tr>
    <div class="row mt-2">
      <td><%= f.submit "編集内容を保存" , class: "btn btn-success" %></td>
    </div>
    <div class="row mt-2">
      <td><%= link_to "退会する", unsubscribe_path, class: "btn btn-danger"   %></td>
    </div>
    </tr>
<% end %>
</div>
