商品画像 <%= f.file_field :image, accept: "image/*" %>
商品名 <%= f.text_field :name, placeholder: "商品名" %>
商品説明 <%= f.text_area :explanation, placeholder: "ここに説明文を記述します" %>
  <div class="form-group row justify-content-center">
ジャンル
    <div class="col-6">
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, prompt: "-- 選択してください --", class: "form-control") %>
    </div>
  </div>
税抜価格 <%= f.text_field :price, placeholder: "1000" %>
販売ステータス
<%= f.radio_button :is_active, true %>販売中
<%= f.radio_button :is_active, false %>販売停止中
