<%= render "header" %>

<div class="container">

  <div class = "row mt-5">
<!--ジャンル検索-->
    <div class="col-lg-3">
      <%= render "public/items/sidebar", genres: @genres %>
    </div>
<!--センター-->
    <div class="text-center mx-auto pt-4 col-lg-9 border border-dark">
      ようこそ、ながのCAKEへ！<br>
      このサイトは、ケーキ販売のECサイトになります。<br>
      会員でない方も商品の閲覧はできますが、<br>
      購入には会員登録が必要になります。
    </div>
  </div>
  <div class = "row mt-5">
    <div class="col-lg-3"></div>
      <div class="col-lg-9">
<!--新着商品-->
        <h3 class="font-weight-bold">新着商品</h3>
          <div class="row font-weight-bold mx-auto">
            <div class="d-flex justify-content-end">
            <% @items.last(4).reverse.each do |item| %>
              <div class="col-3">
                <%= link_to(item) do %>
                  <% if item.image.attached? %>
                    <%= image_tag item.image, size: "150x100" %>
                  <% else %>
                    <%= image_tag 'no_image.jpg', size: "150x100" %>
                  <% end %>
                <% end %>
                  <div><%= item.name %></div>
                  <p>￥<%= item.taxin_price.round.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
          </div>
        <div class="text-right">
          <%= link_to "全ての商品を見る>", items_path %>
        </div>
      </div>
  </div>
</div>
<%= render "layouts/footer" %>