<div class="container">
  <div class="row mt-5">
  <h4 style="background-color:#EEEEEE;color:dark;display:inline">注文履歴詳細</h4>
  </div>
  <div class="row mt-3">
    <div class="col col-lg-6">
   <table class="table">
    <tr>
      <td>購入者</td>
      <td><%= @order.customer.last_name + @order.customer.first_name %></td>
    </tr>
    <tr><td>注文日</td>
        <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td>配送先</td>
      <td><%= @order.full_addresses %></td>
    </tr>
    <tr>
      <td>支払い方法</td>
      <td><%= @order.payment_method_i18n %></td>
    </tr>
    <tr>
      <td>注文ステータス</td>
      <td>
        <%= form_with model: @order, url: admin_order_path(@order.id), method: :patch do |f| %>
        <%= f.select :status,Order.statuses_i18n.keys.map{|k| [I18n.t("enums.order.status.#{k}"), k]} %>
        <%= f.submit "更新", class: "btn btn-sm btn-success" %>
        <% end %>
      </td>
    </tr>
  </table>
  </div>
  </div>
  </div>
<div class="container">
  <div class="row mt-3">
    <div class="col col-lg-7">
  <table class="table">
  <thead class="thead-light">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
      <th>制作ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @order_items.each do |order_item| %>
    <tr>
      <td><%= order_item.item.name %></td>
      <td><%= order_item.item.taxin_price.round %></td>
      <td><%= order_item.amount %></td>
      <td><%= order_item.item.taxin_price.round * order_item.amount %></td>
      <td><%= form_with model: order_item, url: admin_order_item_path(order_item.id), method: :patch do |f| %>
      <%= f.select :status,OrderItem.statuses_i18n.keys.map{|k| [I18n.t("enums.order_item.status.#{k}"), k]} %>
      <%= f.submit "更新", class: "btn btn-sm btn-success" %>
    <% end %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>


<div class="col col-lg-4">
  <table class="table table-borderless">
  <thead>
    <tr>
      <th><h5 class="font-weight-bold">商品合計</p></th>
      <td><%= @order.total_payment - @order.shipping_fee %>円</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><h5 class="font-weight-bold">送料</p></th>
      <td><%= @order.shipping_fee %>円</td>

    </tr>
    <tr>
      <th><h5 class="font-weight-bold">請求金額合計</p></th>
      <td><h5 class="font-weight-bold"><%= @order.total_payment %>円</p></td>
    </tr>
  </tbody>
</table>
</div>
</div>