<div class="row">
	<div class="col-xs-2">
		<%= render 'public/items/sidebar', genres: @genres %>
	</div>

  <h2 class="font-weight-bold"><%= @genre.name %>一覧<small>(全</small><small><%= @items.count %></small><small>件)</small></h2>
		<div class="row font-weight-bold">
			<% @items.last(4).reverse.each do |item| %>
				<div class="col-3">
					<%= link_to item_path(item.id) do %>
						<% if item.image.attached? %>
              <%= image_tag item.image, size: "150x100" %>
            <% else %>
              <%= image_tag 'no_image.jpg', size: "150x100" %>
            <% end %>
            <% end %>
						  <div><%= item.name %></div>
						  <p>￥<%= item.taxin_price.round.to_s(:delimited) %></p>
					<% end %>
				</div>
		</div>
	</div>