 <!--追記ここから-->
 <!--Sign up → 新規会員登録(カリキュラム「アプリケーション２、６章」より)-->
<h4>新規会員登録</h4>
  <br>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

<!--カリキュラム「アプリケーション２、６章より」-->
<!--ユーザー登録の際に、名前、フリガナ、郵便番号、住所を追加。　！！！テーブル機能も付ける！！！-->
  <h6>名前</h6>
  <div class="field">
    <%= f.label :last_name, "(姓)" %>
    <%= f.text_field :last_name %>

    <%= f.label :first_name, "(名)" %>
    <%= f.text_field :first_name %>
  </div>

  <h6>フリガナ</h6>
  <div class="field">
    <%= f.label :last_name_kana, "(セイ)" %>
    <%= f.text_field :last_name_kana %>

    <%= f.label :first_name_kana, "(メイ)" %>
    <%= f.text_field :first_name_kana %>

<!--追記ここまで-->

  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

<!--追記ここから-->

  <div class="field">
    <%= f.label :postal_code, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postal_code %>
  </div>

  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :phone_number, "電話番号(ハイフンなし)" %>
    <%= f.text_field :phone_number %>
  </div>

<!--追記ここまで-->

  <div class="field">
    <%= f.label :password, "パスワード(6文字以上)" %>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "パスワード(確認用)" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

  <br>

  <h4>既に登録済みの方</h4>
  <%- if controller_name != 'sessions' %>
  <%= link_to "こちら", new_session_path(resource_name) %>　からログインしてください。
  <% end %>
