<%= render "public/homes/header" %>
<div class="container">
<div class="row mt-5">
<h4 style="background-color:#EEEEEE;color:dark;display:inline">注文情報確認</h4>
</div>
<div class="row mt-5">
<div class="col col-lg-7">
<table class="table table-bordered border-dark">
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
  <% @cart_items.each do |cart| %>
  <!-- ユーザーに確認してもらうための表示です -->
  <tr>
    <td>
      <% if cart.item.image.attached? %>
      <%= image_tag cart.item.image, size: "75x50" %>
      <% else %>
      <%= image_tag 'no_image.jpg', size: "75x50" %>
      <% end %>
      <%= cart.item.name %> <!-- 商品名 -->
    </td>
    <td><%= (cart.item.taxin_price).round.to_s(:delimited) %>　<!-- 金額 --></td>
    <td><%= cart.amount %> <!-- 個数 --></td>
    <td><%= (cart.item.taxin_price*cart.amount).round.to_s(:delimited) %> <!-- 小計 --></td>
  </tr>
  <% end %>
  </table>
  </div>
<div class="col col-lg-4">
<table class="table table-bordered border-dark">
  <tr>
    <th>送料</th>
    <td><%= @order.shipping_fee %></td>
  </tr>
  <tr>
    <th>商品合計</th>
    <td><%= @total.round.to_s(:delimited)  %></td>
  </tr>
  <tr>
    <th>請求金額</th>
    <td><%= (@total.round + @order.shipping_fee).to_s(:delimited) %> <!-- お買い物の合計金額 --></td>
  </tr>
  </table>
  </div>
  </div>
  </div>
<div class="container">
  <div class="row mt-5">
    <div class="col col-lg-7">
    <table class="table table-borderless">
      <tr>
        <th><h5 class="font-weight-bold">支払い方法</h5></th>
        <td><h5><%= @order.payment_method_i18n %></h5></td>
      </tr>
      <tr>
        <th><h5 class="font-weight-bold">お届け先</h5></th>
        <td><h5><%= @order.full_addresses %></h5></td>
      </tr>
    </table>
    </div>
  </div>
</div>

<!-- ユーザーには注文確定ボタンだけ表示します -->
<%= form_with model: @order, url: orders_path , local: true do |f| %>
  <%= f.hidden_field :order_id %>
  <%= f.hidden_field :shipping_fee %>
  <%= f.hidden_field :total_payment %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :address %>
  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :status %>
  <%= f.hidden_field :full_addresses %>
  <%= f.hidden_field :customer_id %>
  <div class="d-flex justify-content-center"><%= f.submit "注文を確定する",class: "btn btn-lg btn-success" %></div>
<% end %>



