<%= render "public/homes/header" %>

<div class ="container">
  <h3>商品一覧<small>(全</small><small><%= @items.count %></small><small>件)</small></h3>
  <div class="row">
    <% @items.each do |item| %>
    <div class="col-3">

      <%= link_to(item) do %>

  <!--画像がなければ、「no_image.jpg」で表示-->
      <% if item.image.attached? %>
        <%= image_tag item.image, size: "150x100" %>
      <% else %>
        <%= image_tag 'no_image.jpg', size: "150x100" %>
      <% end %>
      <% end %>

      <div><%= item.name %></div>

      <!--税込価格→　　　　-->
    <div><%= (item.taxin_price).round %></div>
    </div>
    <% end %>
  </div>
</div>
<%= paginate @items %>