<div class="container">
  <div class="row">
    <div class="col-lg-4">

  <!--画像がなければ、「no_image.jpg」で表示-->
    <% if @item.image.attached? %>
      <%= image_tag @item.image, size: "300x200" %>
    <% else %>
      <%= image_tag 'no_image.jpg', size: "300x200" %>
    <% end %>
    </div>

    <div class="col-lg-8">

      <!--選択した商品を表示-->
      <div><%= @item.name %></div>
      <div><%= @item.explanation %></div>

      <!--税込価格→　　　-->

      <br>

      <!--個数選択(f.select :amout)、「カートに入れる」とカート一覧ページに移動する-->
      <div>
        <%= form_with model: @cart_item, url: "/cart_items", method: :post , local:true do |f| %>
        <%= f.select :amount, *[1..100], include_blank: "個数選択" %>
        <%= f.hidden_field :item_id,value: @item.id %>
        <%= f.submit "カートに入れる" , class: "btn btn-sm btn-success" %>
        <% end %>
      </div>

    </div>
  </div>
</div>